.pokeForm{
    margin-top: 1.2rem;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

.pokeForm form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeForm input {
    height: 1.6rem;
    width:40%;
    border: none;
    border-radius: 6px 6px;
    color: var(--blue);
}

.pokeForm input::placeholder {
    text-align: center;
    color: var(--blue);
    opacity: 0.6;
}

.pokeForm div{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.pokemon{
    width: 10rem;
    height: 12rem;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width:450px){

    .pokeForm{
        margin-top: 0.1rem;
        display:flex;
        justify-content:center;
        align-items: center;
    }
    
}